 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("pexels-hunh-t-2177482.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 812px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  align-self: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: 305px auto 60px;
  padding: 10px 57px 10px 55px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 774px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 90px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 245px;
  }
} .u-section-2 {
  min-height: 938px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 130px 220px 0;
}

.u-section-2 .u-image-1 {
  height: 578px;
  object-position: 0% 67.46%;
  margin-top: 48px;
  margin-bottom: 0;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: -194px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 24px));
  min-height: 241px;
  grid-gap: 32px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 21px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 21px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-text-4 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 21px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px;
}

.u-section-2 .u-text-6 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 21px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

.u-section-2 .u-text-8 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 883px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 80px;
    margin-left: 120px;
    margin-right: 120px;
  }

  .u-section-2 .u-image-1 {
    height: 515px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-top: -131px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 195px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1246px;
  }

  .u-section-2 .u-text-1 {
    width: 502px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: 38px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16px));
    min-height: 479px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1201px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 80px;
  }

  .u-section-2 .u-image-1 {
    height: 463px;
    object-position: 51.09% 67.46%;
    margin-top: 55px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 16px) calc(50% - 16px);
    grid-gap: 32px 32px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 938px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.5rem;
    width: 340px;
    margin-top: 62px;
  }

  .u-section-2 .u-image-1 {
    height: 421px;
    margin-top: 50px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: -188px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 3.75rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 483px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 0 403px 0 340px;
}

.u-section-3 .u-slider-1 {
  width: 413px;
  min-height: 282px;
  height: auto;
  margin: 15px auto 60px 340px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("image.jpg");
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("math.gif");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-image-3 {
  background-image: url("economy-currency-money.jpg");
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-image-4 {
  background-image: url("pexels-pixabay-159298.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 303px;
    margin-left: 357px;
  }

  .u-section-3 .u-slider-1 {
    margin-left: 240px;
  }

  .u-section-3 .u-image-1 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 193px;
    margin-left: 273px;
  }

  .u-section-3 .u-slider-1 {
    margin-left: 130px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 60px;
    margin-right: 103px;
    margin-left: 205px;
    font-size: 1rem;
  }

  .u-section-3 .u-slider-1 {
    margin-left: 40px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 129px;
  }

  .u-section-3 .u-slider-1 {
    width: 340px;
    margin-left: 0;
  }
}